@model PE.Models.Role

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Role list</a>
            <span class="breadcrumb-item active">Edit</span>
        </nav>
    </div>
</div>

<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-12">
        <div class="white-box">
            <div class="user-bg">
                <img width="100%" alt="user" src="~/Admin/plugins/images/large/roleImg.png">
                <div class="overlay-box">
                    <div class="user-content">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-12">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal form-material" asp-action="Edit" asp-all-route-id="@Model.RoleId">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-4">
                        <input type="hidden" asp-for="RoleId" />
                    </div>
                    <div class="form-group mb-4">
                        <label class="col-md-12 p-0">Role Name</label>
                        <div class="col-md-12 border-bottom p-0">
                            <input type="text" asp-for="RoleName" placeholder="Role Name"
                                   class="form-control p-0 border-0">
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label class="col-md-12 p-0">Description</label>
                        <div class="col-md-12 border-bottom p-0">
                            <textarea rows="5" asp-for="Description" placeholder="Description" class="form-control p-0 border-0"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="col-sm-12">
                            <input type="submit" value="Save" class="btn btn-success" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>


