
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="about-section" class="pt-5 pb-5">
    <br />    <br />    <br />    <br />
    <div class="container wrapabout">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>ABOUT ME</h3>
                        </div>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            This is a example project for shopping page
                        </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">Made By C# ASP.NET 5.0</p>
                        <div class="sosmed-horizontal pt-3 pb-3">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                        <a href="#" class="btn rey-btn mt-3">See More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <figure class="potoaboutwrap">
                    <img src="~/home/img/phone.png" alt="potoabout" />
                </figure>
            </div>
        </div>
    </div>