@model PE.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Admin/assets/images/logo/favicon.png">

    <!-- page css -->
    <link href="~/Admin/assets/vendors/select2/select2.css" rel="stylesheet">

    <!-- Core css -->
    <link href="~/Admin/assets/css/app.min.css" rel="stylesheet">
</head>

<h1>Edit</h1>
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Customer list</a>
            <span class="breadcrumb-item active">Edit: @Model.FullName</span>
        </nav>
    </div>
</div>

<h4>Customer</h4>
<hr />
<form asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@Model.CustomerId" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CustomerId" />
    <input type="hidden" asp-for="CreateDate" />
    <input type="hidden" asp-for="Avatar" />
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
            </div>
            <div class="m-b-15">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Basic Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-option">Option Info</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-9">
                            <label class="font-weight-semibold" asp-for="FullName">FullName</label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group  col-md-3">
                            <label class="font-weight-semibold" asp-for="Birthday">Birthday</label>
                            <input asp-for="Birthday" class="form-control" />
                            <span asp-validation-for="Birthday" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-9">
                            <label class="font-weight-semibold" asp-for="Email">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group  col-md-3">
                            <label class="font-weight-semibold" asp-for="Phone">Phone</label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Birthday" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" asp-for="Avatar">Avatar</label>
                        <input name="fThumb" asp-for="Avatar" type="file" class="form-control-file" />
                    </div>
                    <div class="row">
                        <div class="m-t-25">
                            <div class="form-group d-flex align-items-center">
                                <div class="switch m-r-10">
                                    <input type="checkbox" asp-for="Active" />
                                    <label for="Active"></label>
                                </div>
                                <label>Active</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-option">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" asp-for="Ward">Ward</label>
                            <input asp-for="Ward" class="form-control" />
                            <span asp-validation-for="Ward" class="text-danger"></span>
                        </div>
                        <div class="form-group  col-md-6">
                            <label class="font-weight-semibold" asp-for="District">District</label>
                            <input asp-for="District" class="form-control" />
                            <span asp-validation-for="District" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" asp-for="Location">Location</label>
                        <select class="custom-select" asp-for="LocationId" style="min-width: 200px" asp-items="ViewBag.LocaId">
                            <option value="" disable selected>Select location</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- Core Vendors JS -->
<script src="~/Admin/assets/js/vendors.min.js"></script>

@section Scripts{
    <script>
        new Quill('#productDescription', {
            theme: 'snow'
        })
    </script>

    <script src="~/Admin/assets/vendors/select2/select2.min.js"></script>
    <script src="~/Admin/assets/vendors/quill/quill.min.js"></script>
    <script src="~/Admin/assets/js/pages/e-commerce-product-edit.js"></script>

}
    <!-- page js -->
    <!-- Core JS -->
    <script src="~/Admin/assets/js/app.min.js"></script>
